[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
#aiodns = "*"
#aiohttp = {extras = ["speedups"], version = "*"}
#argon2-cffi = "*"
fastapi = {extras = ["all"], version = "*"}
quart = {extras = ["dotenv"], version = "*"}
#quart-auth = "*"
#quart-wtforms = "*"
requests = "*"
sqlalchemy = "*"
uvicorn = "*"
pymysql = "*"
apscheduler = "*"
matplotlib = "*"

[dev-packages]
hobrsite = {file = ".", editable = true}

[requires]
python_version = "3.12"
python_full_version = "3.12.4"

[scripts]
## DESENVOLVIMENTO
dev = "uvicorn src.hobrsite.web:app --reload ${WEB_DEV_OPTIONS}"
da = "uvicorn src.hobrsite.api:app --reload ${API_DEV_OPTIONS}"
dw = "uvicorn src.hobrsite.web:app --reload ${WEB_DEV_OPTIONS}"
## TESTE
test = "python -m hobrsite"
ta = "uvicorn hobrsite.api:app ${API_OPTIONS}"
tw = "uvicorn hobrsite.web:app ${WEB_OPTIONS}"
## HOMOLOGAÇÃO
homo = "echo adoro"
## PRODUÇÃO
prod = "python -m hobrsite"
pa = "python -m hobrsite api"
pw = "python -m hobrsite web"
## scripts
up = "python scripts/atualizatodomundo.py"
