{% extends "default_layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
<h2>Links &uacute;teis</h2>
<hr>
<ul class="list-group">
    <li class="list-group-item list-group-item-info"><a 
    href="https://discord.gg/pdmC4v95"
    target="_blank"
>Discord HB Origins</a>: "servidor" Discord do Habbo Origins BR.</li>
    <li class="list-group-item list-group-item-info"><a 
    href="https://www.habbo.onl/"
    target="_blank"
>Habbo Online</a>: um lugar tempor&aacute;rio para ler not&iacute;cias e 
ver valores de raros enquanto os f&atilde; sites s&atilde;o organizados. Pode 
sair do ar novamente caso um f&atilde; site assuma o protagonismo da 
comunidade.</li>
    <li class="list-group-item list-group-item-info"><a 
    href="https://www.habbo.guru/"
    target="_blank"
>Habbo Guru</a>: Site novo do Astronis, atualmente mostra 
informa&ccedil;&otilde;es sobre usu&aacute;rios no Origins.</li>
    <li class="list-group-item list-group-item-info"><a 
    href="https://oldschoolhabbo.com/"
    target="_blank"
>Old School Habbo</a>: O &uacute;nico f&atilde; site do Origins BR 
atualmente dispon&iacute;vel. Est&atilde;o com uma <a 
href="https://oldschoolhabbo.com/vagas/" target="_blank">chamada para 
ajudantes</a>.</li>
    <li class="list-group-item list-group-item-info"><a 
    href="https://radio-pixelaria.vercel.app/"
    target="_blank"
>R&aacute;dio Pixelaria</a>: A melhor r&aacute;dio do Origins BR</li>
    <li class="list-group-item list-group-item-danger"><a 
    href="https://habbold.org/"
    target="_blank"
>Habbold</a>: Outro f&atilde; site do Origins BR, mas est&aacute; atualmente 
sem manuten&ccedil;&atilde;o.</li>
    <li class="list-group-item list-group-item-info"><a 
    href="https://origins.habbo.com.br"
    target="_blank"
>Habbo Origins</a>: O site que justifica todos estes outros links. Fa&ccedil;a 
inimigos, seja vilipendiado, arrume encrenca com gente do mundo todo e passe 
raiva.</li>
    <li class="list-group-item list-group-item-primary"><a 
    href="https://{{ site }}"
    target="_self"
>{{ site }}</a>: Este site.</li>
</ul>
{% endblock %}
