{% extends "default_layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
<h2>Ranking do Battle Ball</h2>
<hr>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
Este &eacute; o total de pontos individual para cada jogador(a) dos jogos 
ranqueados de Battle Ball Rebound do Habbo Origins BR no primeiro campeonato 
em agosto de 2024. Os jogos casuais n&atilde;o est&atilde;o contabilizados. 
Jogadores que ganharam o pr&ecirc;mio e aqueles que foram desqualificados 
est&atilde;o marcados e coloridos na tabela. Jogadores lend&aacute;rios que 
foram banidos est&atilde;o inclu&iacute;dos por homenagem.
<button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Fechar"
></button>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Posi&ccedil;&atilde;o</th>
            <th scope="col">Nome</th>
            <th scope="col">Pontu&ccedil;&atilde;o</th>
            <th scope="col">Situa&ccedil;&atilde;o</th>
            <th scope="col">Pr&ecirc;mio</th>
        </tr>
    </thead>
    <tbody>
    {% for nome, v in rankings.items() %}
        <tr class="table-{{ v['table_color'] }}">
            <th scope="row">{{ loop.index }}</th>
            <td>{{ nome }}</td>
            <td>{{ "{0:n}".format(v["pontos"]) }}</td>
            <td>{{ v["situacao"] }}</td>
            <td>{{ v["premio"] }} </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
