{% set premio = "Porra Nenhuma" %}
{% set table_color = "light" %}
{% set situacao = "Normal" %}
{% set requalificados = ["Tranquilo", "Trax", "Cyrex", "Shadow"] %}
{% set desqualificados = ["Greg", "LendaryChacal", "lysao", "DON.GOLD"] %}
{% extends "default_layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
<h2>Ranking do Battle Ball</h2>
<hr>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
Este &eacute; o total de pontos individual para cada jogador(a) dos jogos 
ranqueados de Battle Ball Rebound do Habbo Origins BR no primeiro campeonato 
em agosto de 2024. Os jogos casuais n&atilde;o est&atilde;o contabilizados. 
Jogadores que ganharam o pr&ecirc;mio e aqueles que foram desqualificados 
est&atilde;o marcados e coloridos na tabela. Jogadores lend&aacute;rios que 
foram banidos est&atilde;o inclu&iacute;dos por homenagem.
<button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Fechar"
></button>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Posi&ccedil;&atilde;o</th>
            <th scope="col">Nome</th>
            <th scope="col">Pontu&ccedil;&atilde;o</th>
            <th scope="col">Situa&ccedil;&atilde;o</th>
            <th scope="col">Pr&ecirc;mio</th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-primary">
            <th scope="row">1</th>
            <td>LILO</td>
            <td>{{ "{0:n}".format(690420) }}</td>
            <td>Banido</td>
            <td>Trof&eacute;u de Pato de Bronze do <b>iggy1</b></td>
        </tr>
        <tr class="table-primary">
            <th scope="row">2</th>
            <td>Butter</td>
            <td>{{ "{0:n}".format(171157) }}</td>
            <td>Banido</td>
            <td>Trof&eacute;u de Pato de Prata do <b>iggy1</b></td>
        </tr>
{% for nome, pontos in rankings %}
    {% if 1 <= loop.index <= 5 %}
        {% set premio = "Dragão Dourado" %}
        {% set table_color = "warning" %}
        {% set situacao = "Qualificado" %}
    {% elif 6 <= loop.index <= 15 %}
        {% set premio = "Dragão Prateado" %}
        {% set table_color = "secondary" %}
        {% set situacao = "Qualificado" %}
    {% elif 16 <= loop.index <= 40 %}
        {% set premio = "Dragão de Bronze" %}
        {% set table_color = "danger" %}
        {% set situacao = "Qualificado" %}
    {% endif %}
    {% if nome in desqualificados %}
        {% set premio = "Porra Nenhuma" %}
        {% set situacao = "Desqualificado" %}
        {% set table_color = "light" %}
    {% elif nome in requalificados %}
        {% set premio = "Dragão de Bronze" %}
        {% set situacao = "Qualificado" %}
        {% set table_color = "danger" %}
    {% endif %}
        <tr class="table-{{ table_color }}">
            <th scope="row">{{ loop.index + 2 }}</th>
            <td>{{ nome }}</td>
            <td>{{ "{0:n}".format(pontos) }}</td>
            <td>{{ situacao }}</td>
            <td>{{ premio }}</td>
        </tr>
{% endfor %}
    </tbody>
</table>
{% endblock %}
